<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVVMM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D094FD841CD6EC7B000531C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D094FD9D1CD6EC7B000531C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D094FDA81CD6EC7B000531C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
